* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div#cart {
  width: 540px;
}

.cartQuantity {
  color: #fff;
  display: none;
  padding: 0;
  font-size: 14px;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.show-cart:hover .cartQuantity {
  color: #fff;
}

a.add-to-cart {
  position: absolute;
  bottom: 15px;
}

.card-body {
  position: relative;
  padding-bottom: 50px;
}
